
@{
    ViewBag.Title = "AboutGame";
}

<p>Our Game is called Robot on the Run. I will be working in a group of 2 other people for this project</p>

<p>This game is a 2-d platform game. Each level will be different. In this game you are a robot that has
    crash landed on an alien planet. The object of the game is to collect the damaged parts from this alien world so you can put yourself
    and your ship back together. You will also collect energy pods from the planet and other objects from the planet.
    There will be monsters on the planet to keep you from acomplishing your mission.</p>

<p>For objects that you collect, there will be two categories: Items you need and items you can collect.
    You must collect the items that you need in order to pass the level. The items that you can collect
    will just help you on your journey. </p>



