
@{
    ViewBag.Title = "AboutUs";
}

<p>Ian's Awesome Video Game company has been around Since January 2019. We have several project
    in the works. These projects include Haunted Incursion and Robots on the run. </p>



